.navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  background: rgb(255, 174, 174);
}

.navbar-nav {
  width: 100%;
}

.navbar-brand-parent {
  display: flex;
  justify-content: space-between;
}

.nav-item:first-child {
  flex: 6;
}

.nav-item {
  flex: 1;
}

.nav-item:first-child:hover {
  background: none;
}

.nav-item:hover {
  background: rgba(0, 0, 0, 0.233);
}
